$green-felt: radial-gradient(#61ff57, #0e920e);
$red-felt: radial-gradient(#da3636, #731919);
$blue-felt: radial-gradient(#489bf1, #193973);

$felt: $green-felt;

$headings-font: 'Roboto Slab', serif;
$body-font: 'Roboto Slab', serif;

$interface-color: #383838;
$interface-border-color: #454e5a;
$text-color: white;
$text-special-color: gray;