#room {
    height: 100%;
    width: 100%;
    position: relative;
    background: radial-gradient(at 50% 38%, #7489b1, #1c1c1f);
    display: flex;
    justify-content: center;
    align-items: center;
}